@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$tipo-0: #FF9900;
$tipo-1: #56CCF2;
$tipo-2: #79C126;
$tipo-3: #660099;

$family: 'Open Sans', sans-serif;

h1, h2, h3, h4, h5, h6{padding: 0; margin: 0;}

*{transition: all .3s;}

header{
  background: #660099; color: #FFFFFF; line-height: 50px; height: 50px; padding: 0 10px; position: relative; z-index: 9;
  .fa{opacity: .7; position: relative; z-index: 10;}
  .fa.search-ico{opacity: .7; position: absolute; top: 50%; right: 20px; transform: translate(0px, -50%);}
  h1{display: inline-block; font: bold 20px $family;}
}
nav{
  padding: 20px; position: fixed; top: 50px; bottom: 0; background: rgba(43, 0, 64, 1); box-shadow: 2px 0 5px rgba(0,0,0,.2); z-index: 8; left: -130%; width: 70%;
  .nav-item{display: block; margin-bottom: 30px; color: #FFFFFF; font: normal 15px  $family;}
  &.aberto{left: 0; right: 30%;}
}
.separador-lateral{display: inline-block; vertical-align: middle; width: 15px; height: 1px;}
.area-comunicados{
  padding: 15px 0; background: #E5E5E5;
  .categorias-fecha-listagem{
    position: relative;
    .fa{
      position: absolute; bottom: 13px; left: 23px; font-size: 15px;
      &.color-0{color: $tipo-0;}
      &.color-1{color: $tipo-1;}
      &.color-2{color: $tipo-2;}
      &.color-3{color: $tipo-3;}
    }
  }
  .categorias-nome{color: #949494; font: normal 12px $family}
  .listagem-categorias{
    width: 100%; overflow: auto; white-space: nowrap;
    &::-webkit-scrollbar {display: none;}
    .categorias-item{
      display: inline-block; margin-right: 10px; border: 1px solid #BDBDBD; background: #FFFFFF; font: normal 12px $family; color: #4F4F4F; padding: 10px; border-radius: 6px;
      &.ativo-0{background: $tipo-0;  border-color: $tipo-0; color: #FFFFFF;}
      &.ativo-1{background: $tipo-1;  border-color: $tipo-1; color: #FFFFFF;}
      &.ativo-2{background: $tipo-2;  border-color: $tipo-2; color: #FFFFFF;}
      &.ativo-3{background: $tipo-3;  border-color: $tipo-3; color: #FFFFFF;}
    }
  }
  .comunicados-item{
    background: #FFFFFF; padding: 5px 10px 10px 17px; border-radius: 5px; margin-bottom: 15px; position: relative; overflow: hidden; box-shadow: 0 0 10px rgba(51,51,51,.1);
    &:after{background: #000000; content: " "; width: 7px; position: absolute; top: 0; left: 0; height: 100%;}
    .comunicados-titulo{color: #4F4F4F; font: bold 13px $family}
    .comunicados-id{color: #4F4F4F; font: bold 14px $family}
    .comunicados-texto{color: #4F4F4F; font: normal 11px $family}
    .comunicados-data{color: #828282; font: normal 10px $family}
    &.lido{
      background: #EBEBEB;
      &:after{opacity: .4;}
    }
    &.tipo-0:after{background: $tipo-0}
    &.tipo-1:after{background: $tipo-1}
    &.tipo-2:after{background: $tipo-2}
    &.tipo-3:after{background: $tipo-3}
  }
}
.arquivos-item{
  border-radius: 5px; font: normal 12px $family; display: block; vertical-align: middle; padding: 5px; border: 1px solid #E3E3E3; position: relative; color: #828282;
  .fa{font-size: 25px; display: inline-block; vertical-align: middle; color: #828282;}
  .separador-arquivos{width: 5px; height: 1px; display: inline-block; vertical-align: middle;}
  img{position: absolute; top: 50%; right: 5px; transform: translate(0px, -50%)}
  &:hover{text-decoration: underline;}
  &.claro{background: #FFFFFF;}
}
.ler-comunicado{
  position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: rgba(0,0,0,.9); z-index: 10; opacity: 0; pointer-events: none;
  &.aberto{opacity: 1; pointer-events: auto;}
  .topo-ler{
    background: #660099; color: #FFFFFF; line-height: 50px; height: 50px; padding: 0 10px 0 35px; position: relative; white-space: nowrap; overflow: auto;
    .fa{opacity: .7; position: absolute; top: 50%; left: 10px; transform: translate(0px, -50%);}
    h2{display: inline-block; font: bold 15px $family; vertical-align: middle; position: relative; top: -1px;}
    &.color-0{background: $tipo-0}
    &.color-1{background: $tipo-1}
    &.color-2{background: $tipo-2}
    &.color-3{background: $tipo-3}
  }
  .corpo-ler{
    padding: 15px; color: #FFFFFF; font: normal 15px $family;
    .voltar{
      padding: 5px 10px; border-radius: 5px; border: 1px solid #FFFFFF; display: inline-block;
      .fa{margin-right: 10px;}
      small{position: relative; top: -2px;}
    }
  }
}
.busca{
  position: absolute; top: 0; width: 100%; left: -100%;
  &.aberto{left: 0;}
  input{
    height: 50px; padding: 0; width: 80%; position: relative; left: 35px; top: -1px; background: #660099; border: 0; outline: none; font: bold 20px $family; color: #FFFFFF;
    &::-webkit-input-placeholder{font: bold 20px $family; color: #FFFFFF;}
  }
}
@media (min-width: 1200px) {
  nav.aberto{left: 0; width: 300px;}
}
